<ng-template #navLinks>
  @for (navbarItem of navbarItems; track $index) {
    @if (!navbarItem.external) {
      <a
        [routerLink]="[navbarItem.link]"
        class="font-sans text-2xl font-light text-slate-800 no-underline underline-offset-8 hover:text-slate-600 hover:underline"
        routerLinkActive="!underline"
        (click)="hideMobileNav()"
        >{{ navbarItem.label }}</a
      >
    } @else {
      <a
        [href]="navbarItem.link"
        target="_blank"
        class="font-sans text-2xl font-light text-slate-800 no-underline underline-offset-8 hover:text-slate-600 hover:underline"
        (click)="hideMobileNav()"
        >{{ navbarItem.label }}</a
      >
    }
  }
</ng-template>

<div class="mx-4 mt-4 flex items-center justify-between md:hidden">
  <fa-icon
    [icon]="faBars"
    class="text-3xl text-slate-800 hover:text-slate-600"
    (click)="toggleMobileNav()"
  ></fa-icon>
  <img src="/assets/image/b_logo.png" class="h-auto w-8" />
</div>
<div
  [ngClass]="{
    hidden: !mobileNavOpen,
    flex: mobileNavOpen
  }"
  class="flex-col items-center gap-8 md:hidden"
>
  <ng-container *ngTemplateOutlet="navLinks" />
</div>
<div class="mt-12 hidden flex-col items-center gap-8 md:visible md:flex">
  <img src="/assets/image/b_logo.png" class="h-auto w-20" />
  <div class="flex w-full justify-center">
    <div class="flex justify-between space-x-8 lg:space-x-20">
      <ng-container *ngTemplateOutlet="navLinks" />
    </div>
  </div>
</div>
